.section__contact {
  //   // margin-bottom: 1px;
  line-height: 1.21;
  color: $c-white;
  background-color: $bcg-c-black;

  @media screen and (min-width: 768px) {
    padding-top: 74px;
  }

  @media screen and (min-width: 1280px) {
    padding-bottom: 79px;
  }
}

.title--contact {
  margin-bottom: 40px;
  @media screen and(min-width:768px) {
    margin-bottom: 38px;
  }
  @media screen and(min-width:1280px) {
    margin-bottom: 80px;
  }
}

.contact-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  @media screen and (min-width: 1280px) {
    flex-direction: row-reverse;
    gap: 140px;
  }
}

.contact__content {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @media screen and (min-width: 1280px) {
    align-items: flex-start;
    text-align: start;
  }
}

.contact__subtitle {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;

  @media screen and(min-width:768px) {
    font-size: 24px;
  }
}

.contact__text {
  margin-bottom: 40px;
  font-size: 14px;
  @media screen and(min-width:768px) {
    font-size: 16px;
  }
  @media screen and(min-width:1280px) {
    margin-bottom: 12px;
  }
}

.contact__socials {
  display: flex;
  justify-content: space-between;
  width: 148px;
  gap: 14px;
  text-align: center;
  background-color: antiquewhite;
  margin-bottom: 40px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 28px;
  }
}

.socials__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 40px;
  height: 40px;
  align-items: center;
}

.socials__icon {
  width: 20px;
  height: 20px;
  // fill: currentColor;
}

.address__link {
  font-style: normal;
  font-size: 16px;
  color: $c-white;
}

.address__link:first-child {
  margin-bottom: 12px;
}
.contact-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  .contact-form {
    width: calc(100% - 640px);
    flex-direction: row;
    justify-content: flex-end;
  }
}

.contact-form__label {
  display: block;
  width: 100%;
  margin-bottom: 12px;
}

.contact-form__input,
.contact-form__textarea {
  display: block;
  width: 100%;
  padding: 11px 8px 12px;
  font-size: 14px;

  border: none;
  border-radius: 5px;
  resize: none;
  outline: none;
}
@media screen and (min-width: 768px) {
  .contact-form__label--min {
    width: calc(50% - 16px);
  }
  .contact-form__label--min:first-child {
    margin-right: 32px;
  }
}
.contact-form__input::placeholder,
.contact-form__textarea::placeholder {
  color: #939eac;
}
