.main-title {
   
    text-align: center;
    margin: 40px 85px 15px 86px;
}
.main-title__text {
    display: block;
    text-align: center;
    justify-content: center;
    margin: auto;

   &--about {
    /* position: absolute; */
    
    text-align: center;
    justify-content: center;
    margin: auto;
    
min-width: 220px;



font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.71;

color: #000000;
margin-bottom: 40px;

@media screen and (max-width: 767px) {
    background-color: aqua;
       
    }

@media screen and (min-width: 768px) 
and (max-width: 1279px){
    background-color: rgb(66, 147, 152);
       
    }
    @media screen and (min-width: 1280px) {
        background-color: aqua;
           
        }


   }
}

.box {
    align-items: center;
    
    max-width: 406px;
    height: 280px;
background-size: contain;
    background-image: url(../images/featuremob.png);
     
    background-repeat: no-repeat;
margin-left: 20px;
    margin-bottom: 40px;

 
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .box {
    background-image: url(../images/featuremob@2x.png);
  }
}



.amet-list {
    list-style: none;
    

   
    &__title {
        position: relative;
        padding-left: 39px;

        
        
        color: yellowgreen;

        &:before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 28px;
            height: 28px;
        background-image: url(../images/07\ Gear\ NFT.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    
    display: inline-block;
    margin-right: 12px;
    

    }
}
&__block {
    max-width: 220px;
    max-height: 68px;
    margin-left: 40px;

    &__item {
        
        font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.71;

color: #000000;
        
    }

}

   

}
    
