.features {
    // background-image: url(../images/features-up.png) ;
    background-image: url(../images/features-down.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 194px;
    // background-position: 649px -213px;
  margin-top: 40px;
  width: 100%;
  margin-bottom: 80px;
  @media screen and (max-width: 1279px) {
    margin-top: 25px;
    margin-bottom: 95px;
    background-image: none;
  }
  @media screen and (max-width: 767px) {
    margin-top: 25px;
    margin-bottom: 40px;
  }
&__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  @media screen and (max-width: 1279px) {
    gap: 40px;
  }
}
.features__text {
  max-width: 886px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $c-black;
  margin-bottom: 80px;
  @media screen and (max-width: 1279px) {
    max-width: 687px;
    margin-bottom: 40px;
  }
  @media screen and (max-width: 767px) {
    max-width: 272px;
    margin-bottom: 40px;
  }
}

.features__content-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  align-items: center;

  @media screen and (max-width: 1279px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 63px;
    align-items: start;
  }
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
}

.box {
  grid-row: 1/4;
  @media screen and (max-width: 1279px) {
    grid-row: 1/5;
  }
}
.box1 {
  grid-area: 1 / 1 / 2 / 2;
  display: grid;
  justify-content: end;
  @media screen and (max-width: 1279px) {
    grid-area: 1 / 2 / 2 / 3;
    justify-content: start;
  }
  @media screen and (max-width: 767px) {
   margin-top: 16px;
  }
}
.box2 {
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
  justify-content: end;
  @media screen and (max-width: 1279px) {
    grid-area: 2 / 2 / 3 / 3;
    justify-content: start;
  }
}
.box3 {
  grid-area: 3 / 1 / 4 / 2;
  display: grid;
  justify-content: end;
  @media screen and (max-width: 1279px) {
    grid-area: 3 / 2 / 4 / 3;
    justify-content: start;
  }
}
.box4 {
  grid-area: 1 / 3 / 2 / 4;
  @media screen and (max-width: 1279px) {
    grid-area: 4 / 2 / 5 / 3;
  }
}
.box5 {
  grid-area: 2 / 3 / 3 / 4;
  @media screen and (max-width: 1279px) {
    grid-area: 5 / 2 / 6 / 3;
  }
}
.box6 {
  grid-area: 3 / 3 / 4 / 4;
  @media screen and (max-width: 1279px) {
    grid-area: 5 / 1 / 6 / 2;
  }
}

// .features__content-box {
//   display: flex;
//   flex-direction: column;
//   gap: 80px;
// }
.features__content-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $c-black;
}
.features__content-title::before {
  // display: block;
  margin-left: 10px;
  content: url(../images/feature-icon@1x.png);
  width: 28px;
  height: 28px;
}
.features__content-text {
  margin-left: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: $c-black;
  max-width: 220px;
  @media screen and (max-width: 1279px) {
    flex-wrap: wrap;
    min-width: 238px;
    width: 100%;
  }
}
