.feature {
    width: 100%;
    background: linear-gradient(82.31deg, rgba(0, 197, 235, 0.25) -16.63%, rgba(61, 153, 241, 0.155) 28.79%, rgba(181, 68, 254, 0.25) 84.76%);
    ;

}
.main-title {
    margin: 40px auto;
}
.main-title__text {
    text-align: center;
    max-width: 280px;
    font-size: 14px;
    line-height: 1.42;
    @media screen and (max-width: 767px) {
    background-color: aqua;
    }
    @media screen and (min-width: 768px) 
    and (max-width: 1279px){
    background-color: rgb(66, 147, 152);
    }
    @media screen and (min-width: 1280px) {
    background-color: aqua;
    }
}
.box {
    max-width: 406px;
    // height: 280px;
    background-size: contain;
    background-image: url(../images/featuremob.png);
    background-repeat: no-repeat;
    margin-bottom: 40px;
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/featuremob@2x.png);
    }
}
.amet-list {
    &__item {

    }
    
    &__block {
    
        
        
    //     margin-left: 40px;
    //     margin-bottom: 24px;
    //     max-width: 220px;
    //     height: 68px;
    
    //     &:before {
    //         position: absolute;
    //         content: "";
    //         left: 0;
    //         top: 0;
    //         width: 28px;
    //         height: 28px;
    //     background-image: url(../images/07\ Gear\ NFT.png);
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     background-position: center;
    
    // display: inline-block;
    // margin-right: 12px;
    
    
    }
    


    

   
    &__title {
        position: relative;
        padding-left: 39px;
        margin-bottom: 13px;

        
        
        color: yellowgreen;

        
}

    }
    &__title {

    }

    &__text {

    }
}
    
