.hero{
    background-color: #06071B;
    @media screen and (min-width: 481px) {
        background-image: url(../images/hero-bcg-tablet.png);
    }


    &__block{

    }
    &__title{
        margin-bottom: 12px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
    }
    &__subtitle{
        margin-bottom: 20px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF; 
    }
    &__list{
        margin-bottom: 40px;
    }
    &__button{
        display: block;
        margin: 0 auto;
        padding: 12px 60px 11px 61px;
        border: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
        border-radius: 5px;
        color: #FFFFFF;
        &:hover {}

        &:focus {}
    }
}
.hero__item{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;

    &::before{
        background-image: url(../svg);
        background-repeat: no-repeat;
        background-position: center;
    }
}