.modal-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: scale(1) translate(-50%);
    box-sizing: border-box;
    padding: 48px 24px;
    max-width: 280px;
    width: 100%;
    background-color: $bcg-c-black;
    color: $c-white;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-backdrop.is-hidden & {
        transform: scale(0.8) translate(-50%, -50%);
    }

    @media screen and (min-width:768px) {
        max-width: initial;
        width: 568px;
        padding: 32px 40px;
    }
}

.modal__title {
    margin-bottom: 24px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;

    @media screen and (min-width: 768px) {
        margin-bottom: 28px;
    }
}

.download {
    display: block;

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 22px;
    }
}

.download__free {
    display: block;
    padding: 28px 20px 88px 20px;
    background: $linear;
    color: $c-white;
    margin-bottom: 20px;
    border-radius: 6px;
    border-width: 0;
    text-align: center;
}

.download__border-wrap {
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    background: $linear;
    padding: 2px;
    border-radius: 6px;
    margin-bottom: 28px;
}

.download__pay {
    display: inline-block;
    border-width: 0;
    border-radius: 6px;
    background-color: $bcg-c-black;
    color: $c-white;
    padding: 26px 18px;
}

.download__icon {
    display: block;
    width: 80px;
    height: 106px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.download__title {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: $c-white;
    margin-bottom: 20px;
}

.download__sub-item {
    position: relative;

    &::before {
        content: '';
        display: block;
        box-sizing: border-box;
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 9px solid $c-white;

        position: absolute;
        left: 0;
        top: 4px;
    }
}

.download__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7142;
    text-align: start;
    padding-left: 18px;
    color: $c-white;

    &:first-child {
        margin-bottom: 12px;
    }
}

.modal__discription {
    font-size: 16px;
    line-height: 1.5;
    color: $c-white;
    margin-bottom: 25px;
}

.about-app {
    display: block;
    background-color: $bcg-c-black;
    color: $c-white;
    border-radius: 6px;

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.about-app__item {
    padding: 20px 22px 20px 20px;

    &:last-child {
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: $linear;
            position: absolute;
            top: -4px;
            left: 0;

            @media screen and (min-width: 768px) {
                transform: rotate(90deg);
                width: calc(100% - 4px);
                left: -50%;
                top: calc(50% - 2px);
            }
        }
    }

    @media screen and (min-width: 768px) {
        flex-basis: 50%;
    }
}

.about-app__sub-list {
    background-color: $bcg-c-black;
}

.about-app__sub-item {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 20px;

    &:nth-child(4),
    &:nth-child(8) {
        margin-bottom: 0;
    }
}

.about-app__icon {
    display: block;
    width: 28px;
    height: 28px;
}

.sub-wraper {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
}

.about-app__accent-text {
    color: #1AB9FD;
}

.modal__button {
    display: block;
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    background: $linear;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: $c-white;

    border-radius: 5px;
    border-width: 0;

    @media screen and (min-width: 768px) {
        width: 200px;
        margin: 0 auto;
    }
}

.modal__close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: 0;
    padding: 0;
    background: transparent;
}