@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Inter", sans-serif;
  color: #000000;
  background-color: #F6F7F7;
  font-weight: 500;
}

svg {
  display: block;
}

h1,
h2,
h3,
h4,
p,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
}
@media screen and (max-width: 479px) {
  .container {
    padding: 0 20px;
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .container {
    padding: 0 20px;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    width: 100%;
    padding: 0 16px;
    width: 1280px;
  }
}

img {
  display: block;
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

.button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

.btn-wrapper {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}
@media screen and (max-width: 767px) {
  .btn-wrapper {
    align-self: center;
  }
}
.btn-wrapper:after {
  content: "";
  position: absolute;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.button-hf {
  position: relative;
  padding: 12px 60px 11px;
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  background: transparent;
  border-radius: 5px;
  color: #ffffff;
  z-index: 2;
}
.button-hf:hover {
  background: #06071B;
}
.button-hf:focus {
  background: #06071B;
}

.section {
  margin: 0 auto;
}
@media screen and (max-width: 479px) {
  .section {
    padding: 40px 0;
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .section {
    padding: 40px 0;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding: 80px 0;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    width: 1280px;
  }
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 1.21;
  }
}

.gradient {
  position: absolute;
  width: 1px;
  height: 1px;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.icon--social {
  gap: 14px;
  width: 148px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1280px) {
  .icon--social {
    margin-bottom: 28px;
  }
}

.icon__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
}

.icon__item--social {
  width: 40px;
  height: 40px;
}

.icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  color: #ffffff;
  border-radius: 50%;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
}

.icon__link:hover,
.icon__link:focus {
  color: #000000;
  background: #000000;
}

.icon__svg {
  fill: currentColor;
}

.icon__svg--social {
  width: 20px;
  height: 21px;
}

.icon__link:hover .icon__svg,
.icon__link:focus .icon__svg {
  stroke: url(#gradient);
}

.video__icon {
  gap: 20px;
  width: 140px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1280px) {
  .video__icon {
    margin-bottom: 0px;
  }
}

.icon__item--video {
  width: 60px;
  height: 60px;
}

.icon__svg--video {
  width: 32px;
  height: 36px;
}

body {
  font-family: "Inter", sans-serif;
  color: #000000;
  background-color: #F6F7F7;
  font-weight: 500;
}

svg {
  display: block;
}

h1,
h2,
h3,
h4,
p,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
}
@media screen and (max-width: 479px) {
  .container {
    padding: 0 20px;
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .container {
    padding: 0 20px;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    width: 100%;
    padding: 0 16px;
    width: 1280px;
  }
}

img {
  display: block;
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

.button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

.btn-wrapper {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}
@media screen and (max-width: 767px) {
  .btn-wrapper {
    align-self: center;
  }
}
.btn-wrapper:after {
  content: "";
  position: absolute;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.button-hf {
  position: relative;
  padding: 12px 60px 11px;
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  background: transparent;
  border-radius: 5px;
  color: #ffffff;
  z-index: 2;
}
.button-hf:hover {
  background: #06071B;
}
.button-hf:focus {
  background: #06071B;
}

.section {
  margin: 0 auto;
}
@media screen and (max-width: 479px) {
  .section {
    padding: 40px 0;
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .section {
    padding: 40px 0;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding: 80px 0;
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    width: 1280px;
  }
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 24px;
    line-height: 1.21;
  }
}

.gradient {
  position: absolute;
  width: 1px;
  height: 1px;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

.icon--social {
  gap: 14px;
  width: 148px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1280px) {
  .icon--social {
    margin-bottom: 28px;
  }
}

.icon__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
}

.icon__item--social {
  width: 40px;
  height: 40px;
}

.icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  color: #ffffff;
  border-radius: 50%;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
}

.icon__link:hover,
.icon__link:focus {
  color: #000000;
  background: #000000;
}

.icon__svg {
  fill: currentColor;
}

.icon__svg--social {
  width: 20px;
  height: 21px;
}

.icon__link:hover .icon__svg,
.icon__link:focus .icon__svg {
  stroke: url(#gradient);
}

.video__icon {
  gap: 20px;
  width: 140px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1280px) {
  .video__icon {
    margin-bottom: 0px;
  }
}

.icon__item--video {
  width: 60px;
  height: 60px;
}

.icon__svg--video {
  width: 32px;
  height: 36px;
}

.section__contact {
  line-height: 1.21;
  color: #ffffff;
  background-image: url("../images/contact-bg-m.png");
  background-color: #06071B;
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section__contact {
    background-image: url("../images/contact-bg-m@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .section__contact {
    padding-top: 74px;
    background-image: url("../images/contact-bg-t.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section__contact {
    background-image: url("../images/contact-bg-t@2x.png");
  }
}
@media screen and (min-width: 1280px) {
  .section__contact {
    padding-bottom: 79px;
    background-image: url("../images/contact-bg-d.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .section__contact {
    background-image: url("../images/contact-bg-d@2x.png");
  }
}

.title--contact {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .title--contact {
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 1280px) {
  .title--contact {
    margin-bottom: 80px;
  }
}

.contact-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
@media screen and (min-width: 1280px) {
  .contact-wrap {
    flex-direction: row-reverse;
    gap: 140px;
  }
}

.contact__content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .contact__content {
    align-items: flex-start;
    text-align: start;
  }
}

.contact__subtitle {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .contact__subtitle {
    font-size: 24px;
  }
}

.contact__text {
  margin-bottom: 40px;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .contact__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .contact__text {
    margin-bottom: 12px;
  }
}

.contact__socials {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  width: 148px;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .contact__socials {
    margin-bottom: 28px;
  }
}

.socials__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40px;
  height: 40px;
  align-items: center;
  color: #ffffff;
  border-radius: 50%;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
}
.socials__link:hover, .socials__link:focus {
  color: transparent;
  background-image: url("../images/hover-f.png"), linear-gradient(transparent, transparent);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .socials__link:hover, .socials__link:focus {
    background-image: url("../images/hover-f@2x.png");
  }
}

.socials__link--twitter:hover,
.socials__link--twitter:focus {
  background-image: url("../images/hover-t.png"), linear-gradient(transparent, transparent);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .socials__link--twitter:hover,
.socials__link--twitter:focus {
    background-image: url("../images/hover-t@2x.png");
  }
}

.socials__link--linkedin:hover,
.socials__link--linkedin:focus {
  width: 40px;
  background-image: url("../images/hover-i.png"), linear-gradient(transparent, transparent);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .socials__link--linkedin:hover,
.socials__link--linkedin:focus {
    background-image: url("../images/hover-i@2x.png");
  }
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.address__link {
  display: block;
  font-size: 14px;
  line-height: 1.21;
  font-style: normal;
  color: #ffffff;
}

.address__link--tel {
  margin-bottom: 12px;
  font-size: 16px;
}

.contact-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .contact-form {
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .contact-form {
    justify-content: flex-end;
    width: calc(100% - 640px);
  }
}
.button--minpadding {
  padding: 12px 59px 11px;
}

.contact-form__label {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .contact-form__label {
    margin-bottom: 12px;
  }
}

.contact-form__input,
.contact-form__textarea {
  display: block;
  width: 100%;
  padding: 11px 8px 12px;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 5px;
  resize: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .contact-form__label--min {
    width: calc(50% - 16px);
  }
  .contact-form__label--min:first-child {
    margin-right: 32px;
  }
}
.contact-form__label--textarea {
  height: 220px;
}
@media screen and (min-width: 768px) {
  .contact-form__label--textarea {
    height: 162px;
  }
}

.contact-form__textarea {
  height: 100%;
}

.contact-form__input::-moz-placeholder, .contact-form__textarea::-moz-placeholder {
  color: #939EAC;
}

.contact-form__input:-ms-input-placeholder, .contact-form__textarea:-ms-input-placeholder {
  color: #939EAC;
}

.contact-form__input::placeholder,
.contact-form__textarea::placeholder {
  color: #939EAC;
}

.contact-form__input:not(:-moz-placeholder-shown):required:invalid {
  border: 1px solid red;
}

.contact-form__input:not(:-ms-input-placeholder):required:invalid {
  border: 1px solid red;
}

.contact-form__input:not(:placeholder-shown):required:invalid {
  border: 1px solid red;
}

.header {
  position: absolute;
  margin-top: 26px;
  z-index: 7;
  background: linear-gradient(90.03deg, rgba(0, 197, 235, 0.3) -1.97%, rgba(181, 68, 254, 0.3) 89.43%);
  -webkit-backdrop-filter: blur(17.5px);
          backdrop-filter: blur(17.5px);
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
@media screen and (max-width: 479px) {
  .header {
    width: 100%;
  }
}
.header__btn {
  position: absolute;
  top: 24;
  right: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__btn {
    display: none;
  }
}
.header__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  padding: 16px 20px 16px 21px;
  background-image: url(../images/bg-mobile_menu.png);
  background-repeat: no-repeat;
  background-position-y: 20px;
  background-size: cover;
  background-color: #06071B;
  transform: translateX(100%);
  transition: transform 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.header__menu.is-open {
  transform: translateX(0);
}
.header__menu-close {
  background: transparent;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 40px;
  height: 40px;
  border: 0;
}
.header__list-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 50px;
}
.header__item-menu {
  font-weight: 500;
  font-size: 32px;
  line-height: 1.2187;
  color: #ffffff;
}
.header__item-menu:hover, .header__item-menu:focus {
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.header__link {
  display: flex;
  position: relative;
  width: 100%;
}
.header__logo {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2142;
  color: #ffffff;
  padding: 19px 0;
}
@media screen and (max-width: 768px) {
  .header__logo {
    padding: 14px 0;
  }
}
.header__nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}
.header__list-item {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__item {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #ffffff;
}
.header__item:hover, .header__item:focus {
  background: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.hero {
  width: 100%;
  background-color: #06071B;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  padding: 182px 0 122px;
}
@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    background-image: url(../images/hero-bcg-mobile.png);
    background-position-x: right;
    background-position-y: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .hero {
    width: 768px;
    background-image: url(../images/hero-bcg-tablet.png);
    background-position-x: center;
    background-position-y: 80px;
    padding: 142px 0 143px;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    width: 1280px;
    background-image: url(../images/hero-bcg-dt.png);
    background-position-x: -300px;
    background-position-y: -25px;
    padding: 243px 0 146px;
  }
}
.hero__block {
  position: relative;
}
@media screen and (max-width: 767px) {
  .hero__block {
    display: flex;
    flex-direction: column;
  }
}
.hero__img-decor {
  position: absolute;
  bottom: -130px;
  right: 195px;
}
@media screen and (max-width: 767px) {
  .hero__img-decor {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .hero__img-decor {
    bottom: -105px;
    right: 425px;
  }
}
.hero__image {
  position: absolute;
  bottom: -200px;
  right: 30px;
}
@media screen and (max-width: 767px) {
  .hero__image {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .hero__image {
    bottom: -243px;
    right: 55px;
  }
}
.hero__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2083;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 40px;
    line-height: 1.2;
  }
}
.hero__subtitle {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2222;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .hero__subtitle {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 28px;
  }
}
.hero__btn-wrapper {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}
@media screen and (max-width: 767px) {
  .hero__btn-wrapper {
    align-self: center;
  }
}
.hero__btn-wrapper:after {
  content: "";
  position: absolute;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 5px;
}
.hero__button {
  position: relative;
  padding: 12px 60px 11px 61px;
  border: 0px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  background: transparent;
  border-radius: 5px;
  color: #ffffff;
  z-index: 2;
}
.hero__button:hover {
  background: #06071B;
}
.hero__button:focus {
  background: #06071B;
}

.hero-list {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .hero-list {
    gap: 16px;
    margin-bottom: 60px;
  }
}

.hero-list__item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  color: #ffffff;
}
.hero-list__item::before {
  display: inline-block;
  content: "";
  width: 7px;
  height: 12px;
  background-image: url(../images/hero-item.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 9px;
}

.video {
  position: relative;
  background-color: #06071B;
  background-repeat: no-repeat;
  padding: 0;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .video {
    background-image: url(../images/video__decor-tablet.png);
    background-position-x: top;
    background-position-y: left;
  }
}
@media screen and (min-width: 1280px) {
  .video {
    background-image: url(../images/video__decor-pc.png);
    background-position-x: top;
    background-position-y: left;
  }
}
.video__container {
  justify-content: center;
  align-content: center;
}
@media screen and (max-width: 767px) {
  .video__container {
    background-image: url(../images/video__decor-mob.png);
    background-repeat: no-repeat;
    background-position-x: 41px;
    background-position-y: 330px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .video__container {
    display: flex;
    background-image: url(../images/video__bg-tablet.png);
    background-repeat: no-repeat;
    background-position-x: 83px;
    background-position-y: 196px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .video__container {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  .video__title {
    padding-top: 40px;
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .video__title {
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .video__title {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .video__wrap {
    padding-top: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .video__wrap {
    max-width: 479px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.video__txt {
  text-align: center;
  font-size: 14px;
  line-height: 1.21;
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .video__txt {
    font-size: 16px;
    line-height: 1.19;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .video__txt {
    text-align: left;
  }
}
@media screen and (max-width: 767px) {
  .video__decor {
    display: none;
  }
}
.video__img-iphone {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .video__img-iphone {
    padding: 40px 0;
    max-width: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .video__img-iphone {
    padding: 60px 121px 60px 161px;
    background-image: url(../images/video__bg-pc.png);
    background-position: 55px -75px;
    background-repeat: no-repeat;
  }
}

.video-social {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1280px) {
  .video-social {
    justify-content: flex-start;
  }
}

.gradient {
  position: absolute;
  width: 1px;
  height: 1px;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .icon {
    margin: 0;
  }
}

.icon--social {
  gap: 14px;
  width: 148px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1280px) {
  .icon--social {
    margin-bottom: 28px;
  }
}

.icon__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
}

.icon__item--social {
  width: 40px;
  height: 40px;
}

.icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  color: #ffffff;
  border-radius: 50%;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
}

.icon__link:hover,
.icon__link:focus {
  color: #000000;
  background: #000000;
}

.icon__svg {
  fill: currentColor;
}

.icon__svg--social {
  width: 20px;
  height: 21px;
}

.icon__link:hover .icon__svg,
.icon__link:focus .icon__svg {
  stroke: url(#gradient);
}

.video__icon {
  gap: 20px;
  width: 140px;
  margin-bottom: 40px;
}
@media screen and (min-width: 1280px) {
  .video__icon {
    margin-bottom: 0px;
  }
}

.icon__item--video {
  width: 60px;
  height: 60px;
}

.icon__svg--video {
  width: 32px;
  height: 36px;
}

.video-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .video-modal {
    width: 90%;
    padding: 20px;
  }
}
@media screen and (min-width: 768px) {
  .video-modal {
    width: 80%;
    padding: 30px;
  }
}
@media screen and (min-width: 1280px) {
  .video-modal {
    width: 1000px;
    padding: 40px;
  }
}
.video-modal__iframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video-modal__iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
}
.backdrop.is-hidden .video-modal {
  transform: translate(-50%, -50%) scale(1.3);
}

.video__close-btn {
  position: absolute;
  border: 0;
  padding: 0;
  background: transparent;
}
@media screen and (max-width: 767px) {
  .video__close-btn {
    width: 18px;
    top: 3px;
    right: 3px;
  }
}
@media screen and (min-width: 768px) {
  .video__close-btn {
    width: 25px;
    top: 8px;
    right: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .video__close-btn {
    width: 35px;
    top: 10px;
    right: 10px;
  }
}

.features {
  background-image: url(../images/features-bcg-mobile.png);
  background-position-y: -500px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .features {
    background-image: none;
    padding-top: 100px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .features {
    background-image: url(../images/features-bcg-dt.png);
    padding-bottom: 100px;
    background-position: top;
  }
}

.features__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
@media screen and (max-width: 1279px) {
  .features__content {
    gap: 40px;
  }
}

.features__text {
  max-width: 886px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-bottom: 80px;
}
@media screen and (max-width: 1279px) {
  .features__text {
    max-width: 687px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 767px) {
  .features__text {
    max-width: 272px;
    margin-bottom: 40px;
  }
}

.features__content-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  align-items: center;
}
@media screen and (max-width: 1279px) {
  .features__content-block {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 63px;
    align-items: start;
  }
}
@media screen and (max-width: 767px) {
  .features__content-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}

.box {
  grid-row: 1/4;
}
@media screen and (max-width: 1279px) {
  .box {
    grid-row: 1/5;
  }
}

.box1 {
  grid-area: 1/1/2/2;
  display: grid;
  justify-content: end;
}
@media screen and (max-width: 1279px) {
  .box1 {
    grid-area: 1/2/2/3;
    justify-content: start;
  }
}
@media screen and (max-width: 767px) {
  .box1 {
    margin-top: 16px;
  }
}

.box2 {
  grid-area: 2/1/3/2;
  display: grid;
  justify-content: end;
}
@media screen and (max-width: 1279px) {
  .box2 {
    grid-area: 2/2/3/3;
    justify-content: start;
  }
}

.box3 {
  grid-area: 3/1/4/2;
  display: grid;
  justify-content: end;
}
@media screen and (max-width: 1279px) {
  .box3 {
    grid-area: 3/2/4/3;
    justify-content: start;
  }
}

.box4 {
  grid-area: 1/3/2/4;
}
@media screen and (max-width: 1279px) {
  .box4 {
    grid-area: 4/2/5/3;
  }
}

.box5 {
  grid-area: 2/3/3/4;
}
@media screen and (max-width: 1279px) {
  .box5 {
    grid-area: 5/2/6/3;
  }
}

.box6 {
  grid-area: 3/3/4/4;
}
@media screen and (max-width: 1279px) {
  .box6 {
    grid-area: 5/1/6/2;
  }
}

.features__content-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.features__content-title::before {
  margin-left: 10px;
  content: url(../images/feature-icon@1x.png);
  width: 28px;
  height: 28px;
}

.features__content-text {
  margin-left: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  max-width: 220px;
}
@media screen and (max-width: 1279px) {
  .features__content-text {
    flex-wrap: wrap;
    min-width: 238px;
    width: 100%;
  }
}

.team {
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  background-image: url(../images/team-bg-mob.png);
  background-position-x: right;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .team {
    background-image: url(../images/team-bg-tablet.png);
    background-position-x: right;
  }
}
@media screen and (min-width: 1280px) {
  .team {
    background-image: url(../images/team-bg.png);
    background-position-y: -90px;
  }
}
.team__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #000000;
  text-align: center;
  padding-top: 0;
}
.team__about {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 40px;
  max-width: 886px;
}
@media screen and (min-width: 768px) {
  .team__about {
    margin: 40px auto;
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  .team__about {
    margin: 80px auto;
  }
}
.team__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 24px;
}
@media screen and (min-width: 768px) {
  .team__list {
    gap: 32px;
  }
}

.team-card {
  display: block;
  -webkit-backdrop-filter: blur(17.5px);
          backdrop-filter: blur(17.5px);
  height: auto;
}
@media screen and (max-width: 767px) {
  .team-card {
    width: 280px;
    height: 413px;
    border-radius: 15px;
    padding-top: 16px;
  }
  .team-card--first {
    background: linear-gradient(312.87deg, rgba(0, 197, 235, 0.5) -0.2%, rgba(181, 68, 254, 0.5) 112.66%), #06071B;
  }
  .team-card--second {
    background: linear-gradient(105.09deg, rgba(0, 197, 235, 0.5) -13.66%, rgba(181, 68, 254, 0.5) 104.34%), #06071B;
  }
  .team-card--third {
    background: linear-gradient(176.56deg, rgba(0, 197, 235, 0.5) 4.33%, rgba(181, 68, 254, 0.5) 116.56%), #06071B;
  }
  .team-card--fourth {
    background: linear-gradient(313.81deg, rgba(0, 197, 235, 0.5) -7.83%, rgba(181, 68, 254, 0.5) 83.61%), #06071B;
  }
}
@media screen and (min-width: 768px) {
  .team-card {
    width: 336px;
    height: 409px;
    padding-top: 16px;
    border-radius: 20px;
  }
  .team-card--first {
    background: linear-gradient(312.87deg, rgba(0, 197, 235, 0.5) -0.2%, rgba(181, 68, 254, 0.5) 112.66%), #06071B;
  }
  .team-card--second {
    background: linear-gradient(105.09deg, rgba(0, 197, 235, 0.5) -13.66%, rgba(181, 68, 254, 0.5) 104.34%), #06071B;
  }
  .team-card--third {
    background: linear-gradient(176.56deg, rgba(0, 197, 235, 0.5) 4.33%, rgba(181, 68, 254, 0.5) 116.56%), #06071B;
  }
  .team-card--fourth {
    background: linear-gradient(313.81deg, rgba(0, 197, 235, 0.5) -7.83%, rgba(181, 68, 254, 0.5) 83.61%), #06071B;
  }
}
@media screen and (min-width: 1280px) {
  .team-card {
    width: 288px;
    height: 364px;
    border-radius: 15px;
    padding-top: 14px;
  }
  .team-card--first {
    background: linear-gradient(312.87deg, rgba(0, 197, 235, 0.5) -0.2%, rgba(181, 68, 254, 0.5) 112.66%), #06071B;
  }
  .team-card--second {
    background: linear-gradient(105.09deg, rgba(0, 197, 235, 0.5) -13.66%, rgba(181, 68, 254, 0.5) 104.34%), #06071B;
  }
  .team-card--third {
    background: linear-gradient(176.56deg, rgba(0, 197, 235, 0.5) 4.33%, rgba(181, 68, 254, 0.5) 116.56%), #06071B;
  }
  .team-card--fourth {
    background: linear-gradient(313.81deg, rgba(0, 197, 235, 0.5) -7.83%, rgba(181, 68, 254, 0.5) 83.61%), #06071B;
  }
}
.team-card__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-card__image {
  display: block;
  box-shadow: drop-shadow(-3px 3px 36px rgba(1, 137, 182, 0.3));
  border-radius: 10px;
}
@media screen and (min-width: 480px) {
  .team-card__image {
    width: 248px;
    height: 303px;
  }
}
@media screen and (min-width: 768px) {
  .team-card__image {
    width: 296px;
    height: 299px;
  }
}
@media screen and (min-width: 1280px) {
  .team-card__image {
    width: 264px;
    height: 260px;
  }
}
.team-card__title {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.team-card__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding-top: 20px;
  margin-bottom: 12px;
}
.team-card__description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.testimonials {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/testimonials-background1-320.png), url(../images/testimonials-background2-320.png);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .testimonials {
    background-image: url(../images/testimonials-background1-320@2x.png), url(../images/testimonials-background2-320@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .testimonials {
    padding-bottom: 60px;
    background-image: url(../images/testimonials-background1-768.png), url(../images/testimonials-background2-768.png), url(../images/testimonials-background3-768.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .testimonials {
    background-image: url(../images/testimonials-background1-768@2x.png), url(../images/testimonials-background2-768@2x.png), url(../images/testimonials-background3-768@2x.png);
  }
}
@media screen and (min-width: 1280px) {
  .testimonials {
    background-image: url(../images/testimonials-background1-1280.png), url(../images/testimonials-background2-1280.png), url(../images/testimonials-background3-1280.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .testimonials {
    background-image: url(../images/testimonials-background1-1280@2x.png), url(../images/testimonials-background2-1280@2x.png), url(../images/testimonials-background3-1280@2x.png);
  }
}

.testimonials__title {
  max-width: 180px;
  margin: 0 auto;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .testimonials__title {
    font-size: 24px;
    line-height: 1.381;
    max-width: initial;
  }
}

.customer-foto {
  width: 181px;
  height: 181px;
  margin: 0 auto 20px auto;
}

.testimonials__name {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .testimonials__name {
    font-size: 18px;
    line-height: 1.2222;
  }
}

.testimonials__company {
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7143;
  text-align: center;
}

.testimonials__response {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.7143;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .testimonials__response {
    font-size: 16px;
    line-height: 1.5;
  }
}
@media screen and (min-width: 1280px) {
  .testimonials__response {
    max-width: 886px;
    width: 100%;
    margin: 0 auto 40px auto;
  }
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #06071B;
}

.section__contact {
  line-height: 1.21;
  color: #ffffff;
  background-image: url("../images/contact-bg-m.png");
  background-color: #06071B;
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section__contact {
    background-image: url("../images/contact-bg-m@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .section__contact {
    padding-top: 74px;
    background-image: url("../images/contact-bg-t.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section__contact {
    background-image: url("../images/contact-bg-t@2x.png");
  }
}
@media screen and (min-width: 1280px) {
  .section__contact {
    padding-bottom: 79px;
    background-image: url("../images/contact-bg-d.png");
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .section__contact {
    background-image: url("../images/contact-bg-d@2x.png");
  }
}

.title--contact {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .title--contact {
    margin-bottom: 38px;
  }
}
@media screen and (min-width: 1280px) {
  .title--contact {
    margin-bottom: 80px;
  }
}

.contact-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
@media screen and (min-width: 1280px) {
  .contact-wrap {
    flex-direction: row-reverse;
    gap: 140px;
  }
}

.contact__content {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .contact__content {
    align-items: flex-start;
    text-align: start;
  }
}

.contact__subtitle {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .contact__subtitle {
    font-size: 24px;
  }
}

.contact__text {
  margin-bottom: 40px;
  font-size: 14px;
}
@media screen and (min-width: 768px) {
  .contact__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 1280px) {
  .contact__text {
    margin-bottom: 12px;
  }
}

.contact__socials {
  display: flex;
  justify-content: space-between;
  gap: 14px;
  width: 148px;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .contact__socials {
    margin-bottom: 28px;
  }
}

.socials__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40px;
  height: 40px;
  align-items: center;
  color: #ffffff;
  border-radius: 50%;
  background-image: linear-gradient(90.03deg, #00c5eb -1.97%, #b544fe 89.43%);
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
}
.socials__link:hover, .socials__link:focus {
  color: transparent;
  background-image: url("../images/hover-f.png"), linear-gradient(transparent, transparent);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .socials__link:hover, .socials__link:focus {
    background-image: url("../images/hover-f@2x.png");
  }
}

.socials__link--twitter:hover,
.socials__link--twitter:focus {
  background-image: url("../images/hover-t.png"), linear-gradient(transparent, transparent);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .socials__link--twitter:hover,
.socials__link--twitter:focus {
    background-image: url("../images/hover-t@2x.png");
  }
}

.socials__link--linkedin:hover,
.socials__link--linkedin:focus {
  width: 40px;
  background-image: url("../images/hover-i.png"), linear-gradient(transparent, transparent);
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .socials__link--linkedin:hover,
.socials__link--linkedin:focus {
    background-image: url("../images/hover-i@2x.png");
  }
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.address__link {
  display: block;
  font-size: 14px;
  line-height: 1.21;
  font-style: normal;
  color: #ffffff;
}

.address__link--tel {
  margin-bottom: 12px;
  font-size: 16px;
}

.contact-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .contact-form {
    flex-direction: row;
  }
}

@media screen and (min-width: 1280px) {
  .contact-form {
    justify-content: flex-end;
    width: calc(100% - 640px);
  }
}
.button--minpadding {
  padding: 12px 59px 11px;
}

.contact-form__label {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 1280px) {
  .contact-form__label {
    margin-bottom: 12px;
  }
}

.contact-form__input,
.contact-form__textarea {
  display: block;
  width: 100%;
  padding: 11px 8px 12px;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 5px;
  resize: none;
  outline: none;
}

@media screen and (min-width: 768px) {
  .contact-form__label--min {
    width: calc(50% - 16px);
  }
  .contact-form__label--min:first-child {
    margin-right: 32px;
  }
}
.contact-form__label--textarea {
  height: 220px;
}
@media screen and (min-width: 768px) {
  .contact-form__label--textarea {
    height: 162px;
  }
}

.contact-form__textarea {
  height: 100%;
}

.contact-form__input::-moz-placeholder, .contact-form__textarea::-moz-placeholder {
  color: #939EAC;
}

.contact-form__input:-ms-input-placeholder, .contact-form__textarea:-ms-input-placeholder {
  color: #939EAC;
}

.contact-form__input::placeholder,
.contact-form__textarea::placeholder {
  color: #939EAC;
}

.contact-form__input:not(:-moz-placeholder-shown):required:invalid {
  border: 1px solid red;
}

.contact-form__input:not(:-ms-input-placeholder):required:invalid {
  border: 1px solid red;
}

.contact-form__input:not(:placeholder-shown):required:invalid {
  border: 1px solid red;
}

.footer {
  border-top: 1px solid #FFFFFF;
  background-color: #06071B;
}

.footer__text-down {
  padding: 22px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2142;
  color: #ffffff;
}
@media screen and (max-width: 358px) {
  .footer__text-down {
    max-width: 193px;
  }
}
@media screen and (min-width: 768px) {
  .footer__text-down {
    padding: 22px 0 28px;
  }
}
@media screen and (min-width: 1280px) {
  .footer__text-down {
    padding: 22px 0 21px;
  }
}

.modal-backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: scale(1) translate(-50%);
  box-sizing: border-box;
  padding: 48px 24px;
  max-width: 280px;
  width: 100%;
  background-color: #06071B;
  color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-backdrop.is-hidden .modal {
  transform: scale(0.8) translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  .modal {
    max-width: initial;
    width: 568px;
    padding: 32px 40px;
  }
}

.modal__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .modal__title {
    margin-bottom: 28px;
  }
}

.download {
  display: block;
}
@media screen and (min-width: 768px) {
  .download {
    display: flex;
    gap: 22px;
  }
}

.download__free {
  display: block;
  padding: 28px 20px 88px 20px;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  color: #ffffff;
  margin-bottom: 20px;
  border-radius: 6px;
  border-width: 0;
  text-align: center;
}

.download__border-wrap {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  padding: 2px;
  border-radius: 6px;
  margin-bottom: 28px;
}

.download__pay {
  display: inline-block;
  border-width: 0;
  border-radius: 6px;
  background-color: #06071B;
  color: #ffffff;
  padding: 26px 18px;
}

.download__icon {
  display: block;
  width: 80px;
  height: 106px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.download__title {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.download__sub-item {
  position: relative;
}
.download__sub-item::before {
  content: "";
  display: block;
  box-sizing: border-box;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 9px solid #ffffff;
  position: absolute;
  left: 0;
  top: 4px;
}

.download__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142;
  text-align: start;
  padding-left: 18px;
  color: #ffffff;
}
.download__description:first-child {
  margin-bottom: 12px;
}

.modal__discription {
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  margin-bottom: 25px;
}

.about-app {
  display: block;
  background-color: #06071B;
  color: #ffffff;
  border-radius: 6px;
}
@media screen and (min-width: 768px) {
  .about-app {
    display: flex;
  }
}

.about-app__item {
  padding: 20px 22px 20px 20px;
}
.about-app__item:last-child {
  position: relative;
}
.about-app__item:last-child::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  position: absolute;
  top: -4px;
  left: 0;
}
@media screen and (min-width: 768px) {
  .about-app__item:last-child::before {
    transform: rotate(90deg);
    width: calc(100% - 4px);
    left: -50%;
    top: calc(50% - 2px);
  }
}
@media screen and (min-width: 768px) {
  .about-app__item {
    flex-basis: 50%;
  }
}

.about-app__sub-list {
  background-color: #06071B;
}

.about-app__sub-item {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.about-app__sub-item:nth-child(4), .about-app__sub-item:nth-child(8) {
  margin-bottom: 0;
}

.about-app__icon {
  display: block;
  width: 28px;
  height: 28px;
}

.sub-wraper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
}

.about-app__accent-text {
  color: #1AB9FD;
}

.modal__button {
  display: block;
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  border-radius: 5px;
  border-width: 0;
}
@media screen and (min-width: 768px) {
  .modal__button {
    width: 200px;
    margin: 0 auto;
  }
}

.modal__close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 0;
  padding: 0;
  background: transparent;
}/*# sourceMappingURL=index.css.map */