.video {
    display: block;
    background-color: $bcg-c-black;
    
    background-color: blue;
    color: $c-white;


    &__title {
        padding-bottom: 24px;
        @media screen and (min-width:768px) {
            padding-bottom: 20px;
        }
    }

    &__txt {
        text-align: center;
        font-size: 14px;
        line-height: 1.21;
        padding-bottom: 24px;
        @media screen and (min-width:768px) {
            padding-bottom: 20px;
        }
    }
}

.video-social {
    display: flex;
    justify-content: center;
}