.video {
    position: relative;
    background-color: $bcg-c-black;
    background-repeat: no-repeat;
    // background-size: contain;
    padding: 0;
    
    // background-color: blue;
    color: $c-white;
    @media screen and (min-width:768px) {
        background-image: url(../images/video__decor-tablet.png);
        background-position-x: top;
        background-position-y: left;
    }
    @media screen and (min-width:1280px) {
        background-image: url(../images/video__decor-pc.png);
        background-position-x: top;
        background-position-y: left;
    }

    &__container {
        // flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        @media screen and (max-width:767px) {
            background-image: url(../images/video__decor-mob.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: -46px 151px;
        }

        @media screen and (min-width:768px) and (max-width:1279px) {
            display: flex;
            background-image: url(../images/video__bg-tablet.png);
            background-repeat: no-repeat;
            background-position-x: 83px;
            background-position-y: 196px;
            flex-direction: column;
            align-items: center;
        }

        @media screen and (min-width:1280px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__title {
        
        @media screen and (max-width:767px) {
            padding-top: 40px;
            padding-bottom: 24px;
        }

        @media screen and (min-width:768px) {
            padding-bottom: 20px;
        }
        @media screen and (min-width:1280px) {
            text-align: left;
        }
    }

    &__wrap {
        @media screen and (min-width:768px) {
            padding-top: 80px;
        }

        @media screen and (min-width:1280px) {
            max-width: 479px;
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }

    &__txt {
        text-align: center;
        font-size: 14px;
        line-height: 1.21;
        padding-bottom: 24px;
        @media screen and (min-width:768px) {
            font-size: 16px;
            line-height: 1.19;
            padding-bottom: 20px;
        }
        @media screen and (min-width:1280px) {
            text-align: left;
        }
    }
    &__decor {
        @media screen and (max-width:767px) {
            display: none;
        }
    }
    &__img-iphone {
        width: 100%;
        cursor: pointer;

        @media screen and (min-width:768px) and (max-width:1279px) {
            
            padding: 40px 0;
            max-width: 400px;
        }
        @media screen and (min-width:1280px) {
            padding: 60px 121px 60px 161px;
            background-image: url(../images/video__bg-pc.png);
            background-position: 55px -75px;
            background-repeat: no-repeat;
        }
    }
    
}

.video-social {
    display: flex;
    justify-content: center;
    @media screen and (min-width:1280px) {
        justify-content: flex-start;
    }
}

.gradient{
    position: absolute;
    width: 1px;
    height: 1px;
    }
.icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:1200px) {
        margin: 0;
    }
}
.icon--social {
        gap: 14px;
        width: 148px;
        margin-bottom: 40px;
        @media screen and (min-width: 1280px) {
            margin-bottom: 28px;
        }
    }
    .icon__item {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: $linear;
    }
    .icon__item--social{
        width: 40px;
        height: 40px;
    }
    .icon__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 2px);
        height: calc(100% - 2px);
        color: $c-white;
        border-radius: 50%;
        background: $linear;
    }
    .icon__link:hover,
    .icon__link:focus{
    color: $c-black;
    background: $c-black;
    }
    .icon__svg{
    fill: currentColor;
    }
    .icon__svg--social {
        width: 20px;
        height: 21px;
    }
    .icon__link:hover .icon__svg,
    .icon__link:focus .icon__svg{
        stroke: url(#gradient);
    }
    .video__icon{
    gap: 20px;
        width: 140px;
        margin-bottom: 40px;
        @media screen and (min-width: 1280px) {
            margin-bottom: 0px;
        }
    }
    .icon__item--video{
        width: 60px;
            height: 60px;
    }
    .icon__svg--video{
        width: 32px;
            height: 36px;
    }

    .video-modal {
        position: absolute;
        left: 50%;
        top: 50%;
        
        transform: translate(-50%, -50%) scale(1);
        background: $linear;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
    
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        @media screen and (max-width:767px) {
            width: 90%;
            padding: 20px;
        }
        @media screen and (min-width:768px) {
            width: 80%;
            padding: 30px;
        }
        @media screen and (min-width:1280px) {
            width: 1000px;
            padding: 40px;
        }
        &__iframe {
            position: relative;
            padding-bottom: 56.25%; 
            height: 0;
            overflow: hidden;
            iframe {
                position: absolute;
                top:0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        
        }
    }
    .backdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.2);
        opacity: 1;
        z-index: 999;
    
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &.is-hidden {
            visibility: hidden;
            opacity: 0;
            .video-modal{
                transform: translate(-50%, -50%) scale(1.3);
            }
        }
    }

    .video__close-btn {
        position: absolute;
        cursor: pointer;
        border: 0;
        padding: 0;
        background: transparent;

        @media screen and (max-width:767px) {
            width: 18px;
            top: 3px;
            right: 3px;
        }
        @media screen and (min-width:768px) {
            width: 25px;
            top: 8px;
            right: 8px;
        }
        @media screen and (min-width:1280px) {
            width: 35px;
            top: 10px;
            right: 10px;
        }
    }