.video {
    position: relative;
    background-color: $bcg-c-black;
    background-repeat: no-repeat;
    // background-size: contain;
    
    // background-color: blue;
    color: $c-white;
    @media screen and (min-width:768px) {
        background-image: url(../images/video__decor-tablet.png);
        background-position-x: top;
        background-position-y: left;
    }
    @media screen and (min-width:1280px) {
        background-image: url(../images/video__decor-pc.png);
        background-position-x: top;
        background-position-y: left;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        @media screen and (min-width:1280px) {
            gap: 161px;
            justify-content: space-between;
        }
    }

    &__title {
        padding-bottom: 24px;
        @media screen and (min-width:768px) {
            padding-bottom: 20px;
        }
        @media screen and (min-width:1280px) {
            text-align: left;
        }
    }

    &__wrap {
        @media screen and (min-width:1280px) {
            max-width: 479px;
        }
    }

    &__txt {
        text-align: center;
        font-size: 14px;
        line-height: 1.21;
        padding-bottom: 24px;
        @media screen and (min-width:768px) {
            font-size: 16px;
            line-height: 1.19;
            padding-bottom: 20px;
        }
        @media screen and (min-width:1280px) {
            text-align: left;
        }
    }
    &__decor {
        @media screen and (max-width:767px) {
            display: none;
        }
    }
    &__iphone {
        max-width: 501px;
        width: 100%;
    }
}

.video-social {
    display: flex;
    justify-content: center;
    @media screen and (min-width:1280px) {
        justify-content: flex-start;
    }
}
