<section class="section section__contact">
  <div class="container">
    <h3 class="title title--contact">CONTACT US</h3>

    <div class="contact-wrap">
      <form class="contact-form">
        <label class="contact-form__label contact-form__label--min">
          <input
            class="contact-form__input"
            type="text"
            name="name"
            placeholder="Name"
          />
        </label>
        <label class="contact-form__label contact-form__label--min">
          <input
            class="contact-form__input"
            type="email"
            name="email"
            placeholder="Email"
          />
        </label>
        <label class="contact-form__label">
          <textarea
            class="contact-form__textarea"
            name="comment"
            rows="5"
            placeholder="Message"
          ></textarea>
        </label>
        <button type="submit" class="contact-form__btn">SUBMIT</button>
      </form>

      <div class="contact__content">
        <h2 class="contact__subtitle">Get in touch with us</h2>
        <p class="contact__text">
          Nunc urna est, tristique et varius at, pharetra nec enim. Quisque
          rhoncus lacus fringilla nulla sollicitudin tristique.
        </p>

        <ul class="contact__socials">
          <li class="socials__item">
            <a
              href="#"
              class="socials__link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="socials__icon">
                <use href="./images/SVG/symbol-defs.svg#facebook"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              href="#"
              class="socials__link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="socials__icon">
                <use href="./images/SVG/symbol-defs.svg#twitter"></use>
              </svg>
            </a>
          </li>
          <li class="socials__item">
            <a
              href="#"
              class="socials__link footer__socials__link"
              target="_blank"
              rel="noopener noreferrer"
            >
              <svg class="socials__icon">
                <use href="./images/SVG/symbol-defs.svg#linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>

        <address class="address">
          <ul class="address__list">
            <li class="address-item">
              <a href="tel:#" class="address__link"> +xx-xxxx-xxxx-xx </a>
            </li>
            <li class="address-item">
              <a href="mailto:goIteens@gmail.com" class="address__link">
                goIteens@gmail.com
              </a>
            </li>
          </ul>
        </address>
      </div>
    </div>
  </div>
</section>
