<section>
    <div class="container">
        <h1 class="key">KEY FEATURES</h1>
    <div class="key__lamp">
      <p class="key-text">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis. Praesent luctus mi quis nisi interdum eleifend.</p>
    </div>
    <div class="box">

    </div>
    <ul class="amet-list">
        <!-- <svg class="amet-list__icon" width="28" height="28"> 
            <use href="../team project/images/gearnft-min.svg">
            </use>
        </svg > --> 
        <li class="amet">Amet varius</li>
            <li>Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
            diam a iaculis malesuada
        </li>
        <li class="amet">Amet varius</li>
            <li>Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
            diam a iaculis malesuada
        </li>
        <li class="amet">Amet varius</li>
            <li>Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
            diam a iaculis malesuada
        </li>
        <li class="amet">Amet varius</li>
            <li>Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
            diam a iaculis malesuada
        </li>
        <li class="amet">Amet varius</li>
            <li>Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
            diam a iaculis malesuada
        </li>
        <li class="amet">Amet varius</li>
            <li>Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
            diam a iaculis malesuada
        </li>

    </div>
</section>