<section class="feature">
    <div class="container">
        <h1 class="main-title">KEY FEATURES</h1>
        <div class="main-title__text">
            <p class="main-title__text--about">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque
                neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis. Praesent luctus mi quis nisi
                interdum eleifend.</p>
        </div>
        <div class="box">
            <picture>
                <source srcset="./images/featuremob.png,
                    ./images/featuremob@2x.png" media="(max-width: 480px)" />

                <source srcset="./images/featuretab.png,
            ./images/featuretab@2x.png" media="(max-width: 768px)" />

                <source srcset="./images/featuredesk.png,
            ./images/featuredesk@2x.png" media="(max-width: 1280px)" />

                <img src="./images/featuremob.png" width="280" height="410">

            </picture>

    
    <ul class="amet-list">
        <div class="amet-list__block"> 
         <li class="amet-list__tog">
         <h2 class="amet-list__title">Amet varius</h2>
            <p class="amet-list__item">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
               diam a iaculis malesuada
            </p>
         </li>
        </div>
            
        
        <h2 class="amet-list__title">Amet varius</h2>
        <div class="amet-list__block">   
            <li class="amet-list__item">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
            diam a iaculis malesuada
            </li>
        </div>
        <h2 class="amet-list__title">Amet varius</h2>
        <div class="amet-list__block">   
            <li class="amet-list__item">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
            diam a iaculis malesuada
            </li>
        </div>
        <h2 class="amet-list__title">Amet varius</h2>
        <div class="amet-list__block">  
            <li class="amet-list__item">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
            diam a iaculis malesuada
            </li>
        </div>
        <h2 class="amet-list__title">Amet varius</h2>
        <div class="amet-list__block">   
            <li class="amet-list__item">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
            diam a iaculis malesuada
            </li>
        </div>
        <h2 class="amet-list__title">Amet varius</h2>
        <div class="amet-list__block">   
            <li class="amet-list__item">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus 
            diam a iaculis malesuada
            </li>
        </div>
        </div>


        <ul class="amet-list">

            <h2 class="amet-list__title">Amet varius</h2>
            <div class="amet-list__block">
                <li class="amet-list__item">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                    diam a iaculis malesuada
                </li>
            </div>
            <h2 class="amet-list__title">Amet varius</h2>
            <div class="amet-list__block">
                <li class="amet-list__item">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                    diam a iaculis malesuada
                </li>
            </div>
            <h2 class="amet-list__title">Amet varius</h2>
            <div class="amet-list__block">
                <li class="amet-list__item">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                    diam a iaculis malesuada
                </li>
            </div>
            <h2 class="amet-list__title">Amet varius</h2>
            <div class="amet-list__block">
                <li class="amet-list__item">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                    diam a iaculis malesuada
                </li>
            </div>
            <h2 class="amet-list__title">Amet varius</h2>
            <div class="amet-list__block">
                <li class="amet-list__item">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                    diam a iaculis malesuada
                </li>
            </div>
            <h2 class="amet-list__title">Amet varius</h2>
            <div class="amet-list__block">
                <li class="amet-list__item">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                    diam a iaculis malesuada
                </li>
            </div>
    </div>
    </div>
</section>