<section class="features">
    <div class="container features__block">
        <div class="features__content">
            <h2 class="title features__title">KEY FEATURES</h2>
            <p class="features__text">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque.
                In sit amet lectus non lacus sollicitudin cursus a vitae felis. Praesent luctus mi quis nisi interdum
                eleifend.</p>
        </div>
        <div class="features__content-block">
            <div class="box">
                <picture>
                    <source srcset="./images/feature-desktop1x.png 1x, ./images/feature-desktop@2x.png 2x"
                        media="(min-width: 1280px)" />
                    <source srcset="./images/feature-tablet1x.png 1x, ./images/feature-tablet@2x.png 2x"
                        media="(min-width: 768px)" />
                    <source srcset="./images/feature-mobile1x.png 1x, ./images/feature-mobile@2x.png 2x"
                        media="(max-width: 767px)" />
                    <img src="./images/feature-mobile1x.png" alt="">
                </picture>
            </div>
            <div class="box1">
                <h3 class="features__content-title">Amet varius</h3>
                <p class="features__content-text">Donec posuere augue venenatis, aliquet ligula ut, tempus
                    quam.
                    Vivamus
                    diam a iaculis malesuada</p>
            </div>
            <div class="box2">
                <h3 class="features__content-title">Amet varius</h3>
                <p class="features__content-text">Donec posuere augue venenatis, aliquet ligula ut, tempus
                    quam.
                    Vivamus
                    diam a iaculis malesuada</p>
            </div>
            <div class="box3">
                <h3 class="features__content-title">Amet varius</h3>
                <p class="features__content-text">Donec posuere augue venenatis, aliquet ligula ut, tempus
                    quam.
                    Vivamus
                    diam a iaculis malesuada</p>
            </div>
            <div class="box4">
                <h3 class="features__content-title">Amet varius</h3>
                <p class="features__content-text">Donec posuere augue venenatis, aliquet ligula ut, tempus
                    quam.
                    Vivamus
                    diam a iaculis malesuada</p>
            </div>
            <div class="box5">
                <h3 class="features__content-title">Amet varius</h3>
                <p class="features__content-text">Donec posuere augue venenatis, aliquet ligula ut, tempus
                    quam.
                    Vivamus
                    diam a iaculis malesuada</p>
            </div>
            <div class="box6">
                <h3 class="features__content-title">Amet varius</h3>
                <p class="features__content-text">Donec posuere augue venenatis, aliquet ligula ut, tempus
                    quam.
                    Vivamus
                    diam a iaculis malesuada</p>
            </div>
        </div>
    </div>
</section>