<footer class="footer">
    <section class="section footer__contact">
        <div class="container">
            <h3 class="footer__title">CONTACT US</h3>
            <div>
                <div class="footer__list-form">
                    <section class="section__footer">
                        <form action="#">
                            <div class="footer__form">
                                <div class="footer__input-list">
                                    <input class="footer__input" type="text" id="username" placeholder="Name">
                                    <input class="footer__input" type="email" id="email" placeholder="Email">
                                </div>

                                <div class="footer__textarea-list">
                                    <textarea class="footer__textarea" name="" id="" cols="30" rows="10"
                                        placeholder="Message"></textarea>
                                </div>

                                <button class="footer__btn">SUBMIT</button>
                            </div>
                        </form>
                    </section>
                </div>


                <div class="footer__content">
                    <h3 class="footer__title-text">Get in touch with us</h3>
                    <p class="footer__text">Nunc urna est, tristique et varius at, pharetra nec enim. Quisque rhoncus
                        lacus
                        fringilla
                        nulla
                        sollicitudin tristique.</p>

                    <section class="section__footer">
                        <ul class="footer__icons-list">
                            <li>
                                <a class="footer__icon" href="#"><svg width="40" height="40">
                                        <use href="./images/SVG/symbol-defs.svg#facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li>
                                <a href="#"><svg width="40" height="40">
                                        <use href="./images/SVG/symbol-defs.svg#twitter"></use>
                                    </svg></a>
                            </li>
                            <li>
                                <a href="#"><svg width="40" height="40">
                                        <use href="./images/SVG/symbol-defs.svg#linkedin"></use>
                                    </svg></a>
                            </li>
                        </ul>
                    </section>

                    <ul class="footer__contact-list">
                        <li><a class="footer__contact-tel" href="#">+xx-xxxx-xxxx-xx</a></li>
                        <li><a class="footer__contact-mail" href="#">goIteens@gmail.com</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <hr>
    <div class="container">
        <p class="footer__text-down">© 2019 GoIteens Template. All Rights Reserved</p>
    </div>
</footer>