<header class="header">
    <div class="container">
        <div class="header__link">
            <a class="header__logo" href="#">Mobileapp</a>
            <button class="header__btn js-open-menu"><svg width="24" height="16">
                    <use href="./images/SVG/SVG/burger-main.svg#main"></use>
                </svg>
            </button>
            <div class="header__menu js-menu-container">
                <button class="header__menu-close js-close-menu"><svg width="19.25" height="19.25">
                        <use href="./images/SVG/SVG/close-icon.svg#close"></use>
                    </svg></button>
                <a class="header__logo" href="#">Mobileapp</a>

                <ul class="header__list-menu">
                    <li>
                        <a class="header__item-menu" href="#">HOME</a>
                    </li>
                    <li>
                        <a class="header__item-menu" href="#">FEATURES</a>
                    </li>
                    <li>
                        <a class="header__item-menu" href="#">TEAM</a>
                    </li>
                    <li>
                        <a class="header__item-menu" href="#">TESTIMONIALS</a>
                    </li>
                    <li>
                        <a class="header__item-menu" href="#">CONTACT</a>
                    </li>
                </ul>

            </div>

            <nav class="header__nav">
                <ul class="header__list-item">
                    <li>
                        <a class="header__item" href="#">HOME</a>
                    </li>
                    <li>
                        <a class="header__item" href="#">FEATURES</a>
                    </li>
                    <li>
                        <a class="header__item" href="#">TEAM</a>
                    </li>
                    <li>
                        <a class="header__item" href="#">TESTIMONIALS</a>
                    </li>
                    <li>
                        <a class="header__item" href="#">CONTACT</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>
</header>