<header class="header">
    <div class="container header__link">
        <a href="#" class="header__logo">Mobileapp</a>
        <button class="btn-menu js-open-menu"><svg width="24" height="16">
                <use href="./images/mobile-menu.svg#icon-menu"></use>
            </svg></button>
        <div class="header-menu js-menu-container">
            <button class="header-menu__close js-close-menu" type="button"><svg width="18.67" height="18.67">
                    <use href="./"></use>
                </svg></button>
            <div class="header-menu__box-content">
                <ul class="header__list-item">
                    <li>
                        <a class="header__item" href="#">HOME</a>
                    </li>
                    <li>
                        <a class="header__item" href="#">FEATURES</a>
                    </li>
                    <li>
                        <a class="header__item" href="#">TEAM</a>
                    </li>
                    <li>
                        <a class="header__item" href="#">TESTIMONIALS</a>
                    </li>
                    <li>
                        <a class="header__item" href="#">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="header__nav">
            <ul class="header__list-item">
                <li>
                    <a class="header__item" href="#">HOME</a>
                </li>
                <li>
                    <a class="header__item" href="#">FEATURES</a>
                </li>
                <li>
                    <a class="header__item" href="#">TEAM</a>
                </li>
                <li>
                    <a class="header__item" href="#">TESTIMONIALS</a>
                </li>
                <li>
                    <a class="header__item" href="#">CONTACT</a>
                </li>
            </ul>
        </nav>
    </div>
</header>