<section class="hero">
    <div class="container hero__block">
        <picture class="hero__img-decor">
            <source srcset="./images/hero-decor-dt.png 1x, ./images/hero-decor-dt@2x.png 2x"
                media="(min-width: 1280px)" />
            <source srcset="./images/hero-decor-tablet.png 1x, ./images/hero-decor-tablet@2x.png 2x"
                media="(min-width: 768px)" />
            <img src="./images/hero-decor-tablet.png" alt="Декор">
        </picture>
        <picture class="hero__image">
            <source srcset="./images/hero-iPhone-dt.png 1x, ./images/hero-iPhone-dt@2x.png 2x"
                media="(min-width: 1280px)" />
            <source srcset="./images/hero-iPhone-tablet.png 1x, ./images/hero-iPhone-tablet@2x.png 2x"
                media="(min-width: 768px)" />
            <img src="./images/hero-iPhone-tablet.png" alt="Картинка Айфон ікс">
        </picture>
        <div>
            <h1 class="hero__title">Introducing Mobileapp</h1>
            <h2 class="hero__subtitle">Maecenas vitae tellus sapien. Prasent</h2>
            <ul class="hero__list">
                <li class="hero__item">semper scelerisque tristique a enim</li>
                <li class="hero__item">Integer ut mattis nulla, eget vehicula elit</li>
                <li class="hero__item">Prasent rutrum ac nunc et</li>
            </ul>
        </div>
        <div class="hero__btn-wrapper">
            <button type="button" class="button hero__button">Download</button>
        </div>
    </div>
</section>