<!-- Modal window -->
<div class="modal-backdrop is-hidden" data-modal>
    <div class="modal">
        <h2 class="modal__title">Download</h2>
        <ul class="download">
            <li class="download__item">
                <input type="checkbox" class="download__checkbox" id="free">
                <label class="download__label" for="free">
                    <div class="download__border-wrap">
                        <button type="button" class="download__free button">
                            <img src='./images/SVG/SVG/modal_fa-solid_file-download.svg' alt='download-icon' width="80" height="106"
                                class="download__icon">
                            <h3 class="download__title">Download free plan</h3>
                            <ul class="download__sub-list">
                                <li class="download__sub-item">
                                    <p class="download__description">Donec posuere augue venenatis, aliquet</p>
                                </li>
                                <li class="download__sub-item">
                                    <p class="download__description">Donec posuere augue venenatis, aliquet</p>
                                </li>
                            </ul>
                        </button>
                    </div>
                </label>
            </li>
            <li class="download__item">
                <input type="checkbox" class="download__checkbox" id="pay">
                <label class="download__label" for="pay">
                    <div class="download__border-wrap">
                        <button type="button" class="download__pay button">
                            <img src='./images/SVG/SVG/modal_fa-solid_file-download.svg' alt='download-icon' class="download__icon">
                            <h3 class="download__title">Download for 20$</h3>
                            <ul class="download__sub-list">
                                <li class="download__sub-item">
                                    <p class="download__description">Donec posuere augue venenatis, aliquet</p>
                                </li>
                                <li class="download__sub-item">
                                    <p class="download__description">Donec posuere augue venenatis, aliquet</p>
                                </li>
                                <li class="download__sub-item">
                                    <p class="download__description">Donec posuere augue venenatis, aliquet</p>
                                </li>
                            </ul>
                        </button>
                    </div>
                </label>
            </li>
        </ul>
        <p class="modal__discription">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque.
            In sit amet lectus non lacus</p>
        <div class="download__border-wrap">
            <ul class="about-app">
                <li class="about-app__item">
                    <ul class="about-app__sub-list">
                        <li class="about-app__sub-item">
                            <img class="about-app__icon" src="./images/SVG/SVG/modal_ant-design_file-text-filled.svg" alt="/">
                            <div class="sub-wraper">
                                <p>App name</p>
                                <p class="about-app__accent-text">Mobileapp.layout</p>
                            </div>
                        </li>
                        <li class="about-app__sub-item">
                            <img class="about-app__icon" src="./images/SVG/SVG/modal_bi_file-earmark-zip-fill.svg" alt="/">
                            <div class="sub-wraper">
                                <p>License</p>
                                <p class="about-app__accent-text">Free</p>
                            </div>
                        </li>
                        <li class="about-app__sub-item">
                            <img class="about-app__icon" src="./images/SVG/SVG/modal_carbon_user-avatar-filled.svg" alt="/">
                            <div class="sub-wraper">
                                <p>Author</p>
                                <p class="about-app__accent-text">Mobile Marrket App.com</p>
                            </div>
                        </li>
                        <li class="about-app__sub-item">
                            <img class="about-app__icon" src="./images/SVG/SVG/modal_bxs_calendar.svg" alt="/">
                            <div class="sub-wraper">
                                <p>Data</p>
                                <p class="about-app__accent-text">21.02.2022</p>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="about-app__item">
                    <ul class="about-app__sub-list">
                        <li class="about-app__sub-item">
                            <img class="about-app__icon" src="./images/SVG/SVG/modal_eos-icons_system-ok.svg" alt="/">
                            <div class="sub-wraper">
                                <p>OC</p>
                                <p class="about-app__accent-text">Windows</p>
                            </div>
                        </li>
                        <li class="about-app__sub-item">
                            <img class="about-app__icon" src="./images/SVG/SVG/modal_material-symbols_language.svg" alt="/">
                            <div class="sub-wraper">
                                <p>Language</p>
                                <p class="about-app__accent-text">English</p>
                            </div>
                        </li>
                        <li class="about-app__sub-item">
                            <img class="about-app__icon" src="./images/SVG/SVG/modal_healthicons_weight.svg" alt="/">
                            <div class="sub-wraper">
                                <p>Size</p>
                                <p class="about-app__accent-text">4.16 MB</p>
                            </div>
                        </li>
                        <li class="about-app__sub-item">
                            <img class="about-app__icon" src="./images/SVG/SVG/modal_fa-solid_download.svg" alt="/">
                            <div class="sub-wraper">
                                <p>Downloads</p>
                                <p class="about-app__accent-text">964</p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="modal__download">
            <div class="btn-wrapper modal--button">
                <button type="button" class="button button-hf">Download</button>
                <a href="#" download class="button-hf modal__button">Download</a>
            </div>
        </div>

        <button type="button" class="modal__close-button" data-modal-close>
            <img src="./images/SVG/SVG/modal_ep_close.svg" alt="/">
        </button>
    </div>
</div>

<!-- <script src="./js/modal.js"></script> -->