    <!--team-->
    <section class="section">
        <div class="container team__wrap">
            <h2 class="team__wrap--title">OUR TEAM</h2>
            <p class="team__wrap--about">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit amet lectus non lacus sollicitudin cursus a vitae felis. Praesent luctus mi quis nisi interdum eleifend.</p>
        <!--specialists-->
        <ul class="team__wrap--list"> 
            <!--card1-->
            <li class="team__card team__card--first">
                <div class="team__card--box">
                    <picture> 
                        <source
                        srcset="./images/team1mob1x.jpg 1x, ./images/team1mob2x.jpg 2x" media="(max-width: 767px)"> 
                        <source
                        srcset="./images/team1tab1x.jpg 1x, ./images/team1tab2x.jpg 2x" media="(min-width: 768px)">
                        <source
                        srcset="./images/team1desktop1x.jpg 1x, ./images/team1desktop2x.jpg 2x" media="(min-width: 1280px)">                              
                        <img class="team__card--image"
                        src="./images/team1desktop1x.jpg"
                        alt="image specialist">
                    </picture> 
                    <div class="team__title"><h3 class="team__title--name">Jon Doe</h3>   
                        <h4 class="team__title--description">Managing Direcor</h4>
                    </div>
                </div>
            </li>
            <!--card2-->
            <li class="team__card team__card--second">
                <div class="team__card--box">                             
                    <picture> 
                        <source
                        srcset="./images/team2mob1x.jpg 1x, ./images/team2mob2x.jpg 2x" media="(max-width: 767px)">  
                        <source
                        srcset="./images/team2tab1x.jpg 1x, ./images/team2tab2x.jpg 2x" media="(min-width: 768px)">
                        <source
                        srcset="./images/team2desktop1x.jpg 1x, ./images/team2desktop2x.jpg 2x" media="(min-width: 1280px)">                             
                        <img class="team__card--image"
                        src="./images/team2desktop1x.jpg"
                        alt="image specialist">
                    </picture> 
                    <div class="team__title"><h3 class="team__title--name">Jon Doe</h3>   
                        <h4 class="team__title--description">Lead Designer</h4>
                    </div>
                </div>
            </li>
            <!--card3-->
            <li class="team__card team__card--third">
                <div class="team__card--box">                             
                    <picture> 
                        <source
                        srcset="./images/team3mob1x.jpg 1x, ./images/team3mob2x.jpg 2x" media="(max-width: 767px)">  
                        <source
                        srcset="./images/team3tab1x.jpg 1x, ./images/team3tab2x.jpg 2x" media="(min-width: 768px)">
                        <source
                        srcset="./images/team3desktop1x.jpg 1x, ./images/team3desktop2x.jpg 2x" media="(min-width: 1280px)">                              
                        <img class="team__card--image"
                        src="./images/team3desktop1x.jpg"
                        alt="image specialist">
                    </picture> 
                    <div class="team__title"><h3 class="team__title--name">Jon Doe</h3>   
                        <h4 class="team__title--description">Lead Developer</h4>
                    </div>
                </div>
            </li>
            <!--card4-->
            <li class="team__card team__card--fourth">
                <div class="team__card--box">                             
                    <picture> 
                        <source
                        srcset="./images/team4mob1x.jpg 1x, ./images/team4mob2x.jpg 2x" media="(max-width: 767px)"> 
                        <source
                        srcset="./images/team4tab1x.jpg 1x, ./images/team4tab2x.jpg 2x" media="(min-width: 768px)">
                        <source
                        srcset="./images/team4desktop1x.jpg 1x, ./images/team4desktop2x.jpg 2x" media="(min-width: 1280px)">                             
                        <img class="team__card--image"
                        src="./images/team4desktop1x.jpg"
                        alt="image specialist">
                    </picture> 
                    <div class="team__title"><h3 class="team__title--name">Jon Doe</h3>   
                        <h4 class="team__title--description">Sr. UI Designer</h4>
                    </div>
                </div>
            </li>
        </ul>
        </div>   
    </section>