<section class="section">
  <div class="container video">
    <h2 class="title video__title">WATCH THE VIDEO</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
      fringilla fringilla nisl congue congue. Maecenas nec condimentum libero,
      at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at,
      hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.
    </p>
    <ul>
        <li>
            <a href="https://www.youtube.com/watch?v=yUKRkPKg5_U&ab_channel=Apple">
                <svg>
                    <use></use>
                </svg>
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=9MZzbVw7yJ8&ab_channel=THEROCO">
                <svg>
                    <use></use>
                </svg>
            </a>
        </li>
    </ul>
  </div>
</section>
