<section class="section video">
  <div class="container video__container">
    <div class="video__wrap">
      <h2 class="title video__title">WATCH THE VIDEO</h2>
      <p class="video__txt">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        fringilla fringilla nisl congue congue. Maecenas nec condimentum libero,
        at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at,
        hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.
      </p>
      <ul class="icon video__icon">
        <li class="icon__item icon__item--video">
          <a
            href="#"
            class="icon__link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="icon__svg icon__svg--video">
              <use href="./images/SVG/symbol-defs.svg#android"></use>
            </svg>
          </a>
        </li>
        <li class="icon__item icon__item--video">
          <a
            href="#"
            class="icon__link"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="icon__svg icon__svg--video">
              <use href="./images/SVG/symbol-defs.svg#apple"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="video__img-iphone" data-modal-open-video>
      <picture class="video__iphone">
        <source
          srcset="./images/iphone-x-mob.png 1x, ./images/iphone-x-mob@2x.png 2x"
          media="(max-width:767px)"
        />
        <source
          srcset="
            ./images/video__iphone-x-pc.png    1x,
            ./images/video__iphone-x-pc@2x.png 2x
          "
          media="(min-width:1280px)"
        />
        <source
          srcset="
            ./images/video__iphone-x-tablet.png    1x,
            ./images/video__iphone-x-tablet@2x.png 2x
          "
          media="(min-width:768px)"
        />
        <img src="./images/iphone-x.png" alt="iphone X" />
      </picture>
    </div>
  </div>
</section>
<div class="backdrop is-hidden" data-modal-video>
  <div class="video-modal">
    <button class="video__close-btn" data-modal-close-video type="button">
      <img src="./images/SVG/ep_close.svg" alt="close" />
    </button>
    <div class="video-modal__iframe">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/FT3ODSg1GFE"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
